<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
	<title>whats in your kitchen?</title>
</head>

<body>
	<h1>
		Whats in my kitchen?
	</h1>
	<div id="app" style="display: flex">
		<div style="background: lightblue; margin-right: 1rem; width: 30%">
			<h2>ingredientes</h2>
			<div  class="form-group">
				<label>
					<input type="checkbox" :onchange="clearAll">
					Limpiar todo
				</label>
				<label v-for="ingrediente in ingredientes">
					<input
						type="checkbox"
						:value="ingrediente.nombre"
						v-model="ingredientesElegidos"
					>
						{{ ingrediente.nombre }}
				</label>
			</div>
		</div>
		<div style="width: 70%">
			<h2>Recetas</h2>
			<div v-if="recetasFiltradas.length == 0">
				No has seleccionado ingredientes aun
			</div>
			<div v-else>
				<div v-for="receta in recetasFiltradas">
					<h3>
						{{ receta.titulo }}
					</h3>
					<ul>
						<li v-for="ingre in receta.ingredientes">
							{{ ingre }}
						</li>
					</ul>
					<p>
						{{ receta.instrucciones }}
					</p>
					<hr>
				</div>
			</div>
        </div>
    </div>
</body>
<script src="main.js"></script>

</html>